body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 280px; /* Adjust width as needed */
    height: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .reminder-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .reminder-card h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .reminder-card p {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  input[type="number"] {
    width: calc(33% - 10px);
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .back-link {
    display: block;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .custom-link {
    display: block;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .back-link:hover {
    color: #0056b3;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  button {
    padding: 12px 24px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ff4d4d;
  }
  
  .timer-container {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color:#ff6b6b;
  }